# Configuration pour PyPI
# À copier dans ~/.pypirc (Linux/Mac) ou %USERPROFILE%\.pypirc (Windows)
# Ne PAS commiter ce fichier avec vos tokens/passwords réels !

[distutils]
index-servers =
    pypi
    testpypi

[pypi]
username = __token__
password = pypi-VOTRE_TOKEN_ICI

[testpypi]
repository = https://test.pypi.org/legacy/
username = __token__
password = pypi-VOTRE_TOKEN_TEST_ICI

